/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Marcos Dias (@ghost_tech)
 *
 */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
text-align: center;
background: rgb(0, 0, 0);
}
h2{
color: #fff;
font-size: 40px;
}
h1{
    color: #fff;
    font-size: 60px;
    }
p{
color: #fff;
}
.container{
margin: 0;
padding: 0;
}
.return{
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color:rgb(41, 38, 196) ;
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  color: #fff;
}
a{
    text-decoration: none;
}
.logo{
    max-width: 100%;
}