*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
text-align: center;
background: rgb(255, 255, 255);
}
h2{
color: rgb(0, 0, 0);
font-size: 40px;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    }
p{
color: rgb(0, 0, 0);
}
.container{
margin: 0;
padding: 0;
}
.return{
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: #2937f0;
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  color: #fff;
}
a{
    text-decoration: none;
}
.logo{
    max-width: 100%;
}